
* {padding: 0;
	margin: 0;
    box-sizing: border-box !important;
   
}

body{
	background-color: #fff;
  font-family: "Poppins", sans-serif;
}
a{
  text-decoration: none;
}
.navbar-brand img{
  width:280px;
  height:30px;
  
}
.navbar-brand{
  background-color: #fff;
  padding: 12px 5px 25px 5px;
  clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 84%, 49% 100%, 0 86%, 0% 43%, 0 0);
  
}
.header-top{
  background-color: #1A7EBD;
  padding: 7px;
  position: sticky;
  transition: 0.3s;
}
.header{
  background-color: #ed7900;
  position: sticky;
  width: 100%;
  padding: 0;
  z-index: 999;
  top: 0;
  transition: 0.3s;
}
.nav-link{
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.orange{
  background-color: #ed7900;
  color: #fff;
  text-align: center;
  padding: 20px;
}
.blue{
  background-color: #1A7EBD;
  color: #fff;
  text-align: center;
  padding: 20px;
}
.course{
  background-image: url(../img/bestbg.png);
  background-repeat: no-repeat;
  height: auto;
  padding: 50px 0px;
  background-size: cover;
}
.card-title{
  font-weight: 500;
  color: #fff;
  background-color: #1A7EBD;
  display: inline-block;
  padding: 5px 12px;
  font-size: 14px;
  border-radius: 20px;
}
.btn-primary{
  background-color: #ed7900;
border: none;
}
.bg-white{
  padding: 20px;
}
.card{
  border-radius: 10px;
  background-color: transparent !important;
  box-shadow: 2px 10px 28px 2px #ededed;
  border:none;
}
.know{
  color: #ed7900;
  font-weight: 600;
}
.knows{
  color: #1A7EBD;
  font-weight: 600;
}
.nw-box{
  box-shadow: 3px 3px 10px 2px #f5f5f5;
  
}
/* .navbar{
  padding: 15px 0px;
} */
.header-top img{
  width:10px;
  height: 20px;
}
.fa-phone, .fa-whatsapp, .fa-envelope, .fa-paper-plane{
  color: #fff;
  margin-top: 3px;
  font-size: 16px;
}
.mb{
  margin-bottom: 50px;
}
.why-text{
  padding: 20px;
}
#stu{
  font-size: 18px;
  padding-top: 20px;
  font-weight: 600;
}
h3{
  font-size: 20px;
  letter-spacing: 0.1rem;
  color: #1A7EBD;
  margin-bottom: 0px;
}
.center1{
  background-color: #1A7EBD;
  padding: 20px;
}
.center-btn{
  background-color: #ed7900;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
h2{
  text-align: center;
  font-size: 44px;
  font-weight: 600;
}
.free{
  background-image: url(../img/contact-bg.jpg);
  background-repeat: no-repeat;
  width:100%;
  padding: 30px 0px;
}
#regis{
  background-color: #1a7fbdb6;
  color: #fff;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}
#free{
  text-align: left;
  color: #fff;
}
.free-txt{
  padding: 100px 40px 0px 0px;
}
.form {
  background-color: #1A7EBD;
  padding: 40px;
  margin-top: 120px;
  position: relative;
}
.rib{
  position: absolute;
    top: -39px;
    left: 0%;
}
.cont-mh{
  margin-top: 140px;
}
.form-control, .form-select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 14px;
}
::placeholder{
  color: #fff !important;
}
#enq {
  font-size: 30px;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  border-left: 4px solid #FED00D;
  padding-left: 7px;
  
}
.why-img{
  margin-top: 40px;
}
.footer{
 background-image: url(../img/footerbg.jpg);
 background-repeat: no-repeat;
 height: auto;
 padding: 50px 0px;
}
#btd{
  color: #fff;
}
.fa-facebook-f, .fa-instagram, .fa-youtube{
  color: #fff;
  font-size: 24px;
}
.social-icon span{
  border-radius: 5px;
  border:1px solid #fff;
  padding: 8px;
  margin: 0px 5px 0px 0px;
}
.social-icon{
  margin-top: 20px;
}
.purpel {
  width: 100px;
  height: 3px;
  background-color: #ed7900;
  text-align: left;
  margin-bottom: 10px;
}
.footer-text{
  padding-right: 20px;
}
.offer1{
  text-align: center;
}
hr{
  margin: 30px 0px 10px 0px;
  color: #fff;
}
.imhg{
  width: 20px;
  height: 20px;
}
.footeil{
  position: relative;
}
.footeil ul li{
  list-style: none;
  color: #fff;
  padding-bottom: 5px;
}
.footeil ul li::before{
  content: '';
  background-image: url(../img/arrow.png);
  position: absolute;
  height: 15px;
  width: 15px;
  left: 0px;
  margin-bottom: 10px;
}
.offer1{
  background-color: #1A7EBD;
  color: #fff;
  text-align: center;
  padding: 30px 20px 20px 20px;
  transition: 0.2s;
}

.offer2{
  background-color: #ed7900;
  color: #fff;
  text-align: center;
  padding: 30px 20px 20px 20px;
}
.offer-box{
  margin-top: 20px;
}
.offer-img img{
  margin-bottom: 15px;
}
.testimonial{
  background-color: #f2f8f8;
  padding: 50px 0px 40px 200px;
  position: relative;
}
#ther{
  text-align: left;
  margin-top: 10px;
}
.tets-img img{
  width: 150px !important;
  height: 150px;
  border-radius: 50%;
 margin: auto;
 margin-bottom: 20px;
}
.testi-box{
  background-color: #fff;
  padding: 30px 40px 20px 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px #0000001a;
}
.comma img{
  width: 50px !important;
  height: 50px;
}
.testimonial::before{
  content: '';
  background-image: url(../img/icon-dotted.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height:100%;
  top:0%;
  left:0%;
}
.course-div {
    position: relative;
    width: 100%;
    max-width: 300px;
}
.text-img {
  position: absolute;
  bottom: 10%;
  left: 30%;
  text-align: center;
  color: #fff;
}
.overlay {
    position: absolute;
    bottom: -2%;
    font-weight: 400;
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 14px;
    padding: 20px;
    text-align: center;
}
.course-div:hover .overlay {
  opacity: 1;
}
#automobile{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color:#fff;
  line-height: 30px;
  font-size: 18px;
 }
.why-sec{
  padding-top: 50px;
}
.mission-box{
  background-color: #1A7EBD;
  padding: 30px 20px 20px 20px;
  border-radius: 10px;
  color: #fff;
  height: 100%;
}
#mission{
  padding-top: 15px;
}
.vission-box{
  background-color: #ed7900;
  padding: 30px 20px 20px 20px;
  border-radius: 10px;
  color: #fff;
  height: 100%;
}
.juli{
  position: relative;
}
.juli ul li{
  list-style: none;
  color: #000;
  padding-bottom: 20px;
}
.juli ul li::before{
  content: '';
  background-image: url(../img/favicon.png);
  position: absolute;
  height: 30px;
  width: 30px;
  left: -10px;
  margin-bottom: 20px;
} 
.team-img img{
  border-radius: 20px;
  overflow: hidden;
  object-fit: cover;
  transition: .3s;
}
.team-img{
  position: relative;
}
.team-img img:hover {
  transform: scale(1.04);
  border-radius: 20px;
}
.team-text{
  position: absolute;
  left: 7%;
  bottom: 2%;
  color: #fff;
}
.sucess-box{
  background-color: #f2f3f4;
  padding: 30px;
  box-shadow: ;
  border-radius: 10px;
  margin-bottom: 20px;
}
.sucess-box img{
  width: 100px;
  height:100px;
  border-radius: 50%;
  margin: 0px 10px 10px 0px;
}
.jee{
  position: absolute;
  top: 4%;
  left: 0%;
  background-color: #ed7900;
  color: #fff;
  padding: 7px 15px 0px 15px;
  display: inline-block;
  border-radius: 5px 0px 5px 0px;
  font-size: 10px;
}
.jee h6, .jees h6{
  font-size: 12px;
}
.jees{
  position: absolute;
  top: 4%;
  left: 0%;
  background-color: #1A7EBD;
  color: #fff;
  padding: 7px 15px 0px 15px;
  display: inline-block;
  border-radius: 5px 0px 5px 0px;
  font-size: 10px;
}
@media (max-width: 1400px) and (min-width: 1200px) {
 
}
@media screen and (max-width: 767px) {
 

}